@import url("normalize.css");

/****** Base ******/

* {
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;

    border-top:  10px solid #DE341F;
    background-image: url(../img/hero-bg-pizza2.jpg);
    background-color: #1E1E20;
    background-repeat: repeat;
    background-position: top center;
    background-size: 600px;
    background-attachment: fixed;
}
